<div layout="column" layout-align="center center">
  <div class="wrapper-with-shadow" style="width: 550px" layout="column" layout-align="center center">
    <img src="assets/images/valid_payment.svg" style="height: 60px">
    <p class="mt-3">{{ 'CARTCONFIRM.MESSAGE' | translate}}</p>
    <div layout="row" layout-align="space-between center" class="mt-3">
      <button md-raised-button (click)="seeItinerary()" class="mr-2 pink-btn">
        {{ 'CARTCONFIRM.FOOT' | translate}}
      </button>
      <button md-raised-button class="pink-btn" (click)="gotoTuktuk()">
        {{ 'CARTCONFIRM.TUKTUK' | translate}}
      </button>
    </div>
  </div>
</div>
