
<div layout="row" layout-align="space-around center" class=" wrapper">
  <div id="classic" flex="45" layout="column" layout-align="center center">
    <img src="assets/img/options.svg">
    <p class="mt-5">When shopping through this computer, you will have access to a wide variety of products, you may
      either :</p>
    <ul id="options">
      <li>Buy the products directly here via a secured payment using your credit card, your products will be shipped at
        the hotel within 5 hours
      </li>
      <li>Order the items here and pick them up in the nearby store (500 meters)</li>
    </ul>
  </div>
  <div class="tuktuk" flex="45" layout="column" layout-align="center center">
    <img src="assets/img/tuktuk.svg">
    <p class="mt-5 mb-3">Come as you are, our tuk tuk will give you a tour of the most beautiful monuments in Paris,
      <strong>you'll
        end the visit
        by
        our boutique</strong></p>
  </div>
</div>
<div layout="row" class="mt-5" layout-align="space-around center">
  <button md-raised-button id="shop-here-btn" (click)="shopHere()">Shop Here</button>
  <button id="tuktuk-btn" md-raised-button (click)="orderTuk()">TUKTUK</button>
</div>
