#tuktuk-btn{
  background-color: #FFB04C;
  width: 40px;
  color: white;
}
.wrapper{
  margin-top: 5em !important;
}
#options{
  margin-top: 3em;
}
#classic{
  margin-right: 3em;
  height: 675px;
}
#shop-here-btn{
  background-color: #303E48;
  color: white;
}
