<div layout="row" layout-align="end"><p>X</p></div>
<md-list>
  <h3 id="cart-summary">{{numberOfProducts}} {{ 'CARTICON.ITEMS' | translate}}</h3>
  <md-list-item *ngFor="let prod of existentProds()">
    <img md-list-avatar src="{{prod.image}}">
    <h3 md-line>{{prod.quantity}} x {{prod.label}} </h3>
    <button md-icon-button class="delete-btn" (click)="decreaseQty(prod)"
            [disabled]="productIsDeleted(prod)">-</button>
    <button md-icon-button class="add-btn" (click)="increaseQty(prod)">+</button>
  </md-list-item>
  <div layout="row" layout-align="center center" class="mt-5">
    <h3>{{totalPrice}} €</h3>
  </div>
</md-list>
<div layout="row" layout-align="center center" class="mt-2">
  <button md-raised-button color="primary" class="mr-2 cart-btn"
          (click)="bookInShop()">{{ 'CART.BOOK' | translate}}
  </button>
  <button md-raised-button color="accent" class="ml-2 cart-btn"
          (click)="goToSignUp()">{{ 'CART.DELIVERY' |
    translate}}
  </button>
</div>
