.topBar{
  background-color: #FF0085;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;
  padding-top: 10px;
  height: 100px;
  padding-bottom: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.pink-btn{
  background-color: #ff0085 !important;
  color: white !important;
  text-transform: uppercase;
  font-size: 14px;
}

.bs-link{
  color: white;
  text-underline: none !important;
}
.bs-link:focus{
  text-underline: none !important;
}
.page-active{
  color: #E6007E;
  text-underline: none !important;
}
.page-active:focus{
  text-underline: none !important;
}
.cart-items{
  color: #E6007E;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.cart-icon{
  max-height: 25px !important;
}

body{
  font-family: "Lato",georgia,serif !important;
}
#slogan{
  text-transform: uppercase;
  margin-top: 1.5em;
  color: #E6007E;
  font-size: 34px;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}
