<h1 md-dialog-title>{{data.product.product}}</h1>
<div md-dialog-content>
  <p class="price-alert" *ngIf="isEligibleForRefund()">16.6% of tax refund applied to all NON EU residents ! </p>
  <p>Price: {{data.product.dynamicPrice | number:'1.0-2'}} €</p>
  <form #form="ngForm" id="form">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
             placeholder="First Name" [(ngModel)]="firstName" required name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
             placeholder="Last Name" [(ngModel)]="lastName" required name="lastName">
    </div>
    <div class="form-inline">
      <select class="form-control mr-3" id="areaCode" name="sel1" [(ngModel)]="areaCode" >
        <option value="Area Code" disabled selected>Area Code</option>
        <option *ngFor="let area of areCodes">{{area.code}}</option>
      </select>
      <input type="text" class="form-control" id="phone" aria-describedby="phone"
             placeholder="Phone Number" [(ngModel)]="phone" required name="phone" style="width: 84%">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="email"
             placeholder="Email" [(ngModel)]="email" required name="email">
    </div>
    <div class="form-group">
      <label for="passport">Passport Number</label>
      <input type="text" class="form-control" id="passport" aria-describedby="passport"
             placeholder="Passport Number" [(ngModel)]="passportNumber" required name="passport">
    </div>
    <div class="form-group">
      <label for="passport">Date of Birth</label>
      <input type="date" class="form-control" id="dob" aria-describedby="dob"
             placeholder="Date of Birth" [(ngModel)]="dob" required name="dob">
    </div>
    <div class="form-group">
      <label for="sel1">Nationality:</label>
      <select class="form-control" id="sel1" name="sel1" [(ngModel)]="country" (change)="checkContinent(country)">
        <option *ngFor="let country of allCountries">{{country}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="helper">Did anyone help you ?</label>
      <input type="text" class="form-control" id="helper" aria-describedby="helper"
             placeholder="Write his initials" [(ngModel)]="helperName" required name="helper">
    </div>
    <div>
      <div id="card-element"></div>
      <div id="card-errors"></div>
    </div>


  </form>
</div>
<div md-dialog-actions layout="row" layout-align="center center">
  <div layout="row" *ngIf="notPaying; else payingLoader">
    <button md-raised-button type="submit" id="submit-btn" [disabled]="!form.valid" [class.disabled]="!form.valid"
            (click)="handlePayment()">
      PAY
    </button>
    <button md-button [md-dialog-close] class="ml-3">Cancel</button>
  </div>
  <ng-template #payingLoader layout="row" layout-align="center center">
    <div class="spinner"></div>
  </ng-template>

</div>
