<h1 md-dialog-title>{{data.product.product}}</h1>
<div md-dialog-content>
  <p class="price-alert" *ngIf="isEligibleForRefund()">{{ 'SIGNUP.VATMESSAGE' | translate}}</p>
  <p style="color: red">{{ 'SIGNUP.MISSINGPRODUCT' | translate}}</p>
  <p>Price: {{data.product.dynamicPrice | number:'1.0-2'}} €</p>
  <form #form="ngForm" id="form">
    <div class="form-group">
      <label for="firstName">{{ 'SIGNUP.FN' | translate}}</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
             [(ngModel)]="firstName" required name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">{{ 'SIGNUP.LN' | translate}}</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
             [(ngModel)]="lastName" required name="lastName">
    </div>
    <div class="form-group">
      <label for="phone">{{ 'SIGNUP.PHONE' | translate}}</label>
      <input type="text" class="form-control" id="phone" aria-describedby="phone"
             placeholder="+ ..." [(ngModel)]="phone" required name="phone">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="email"
             [(ngModel)]="email" required name="email">
    </div>
    <div class="form-group">
      <label for="passport">{{ 'SIGNUP.PASSEPORT' | translate}}</label>
      <input type="text" class="form-control" id="passport" aria-describedby="passport"
             [(ngModel)]="passportNumber" required name="passport">
    </div>
    <div class="form-group">
      <label for="passport">{{ 'SIGNUP.DOB' | translate}}</label>
      <my-date-picker name="dob" [options]="myDatePickerOptions"
                      [(ngModel)]="model" required></my-date-picker>
    </div>
    <div class="form-group">
      <label for="sel1">{{ 'SIGNUP.NATIONALITY' | translate}}</label>
      <select class="form-control" id="sel1" name="sel1" [(ngModel)]="country" (change)="checkContinent(country)">
        <option *ngFor="let country of allCountries">{{country}}</option>
      </select>
    </div>
    <div class="form-inline mt-4">
      <input type="text" class="form-control mr-3" aria-describedby="helperI1"
             [(ngModel)]="HN1" name="helperI1" style="width: 40px">
      <input type="text" class="form-control" aria-describedby="helperI2"
             [(ngModel)]="HN2" name="helperI2" style="width: 40px">
    </div>
    <div>
      <div id="card-element"></div>
      <div id="card-errors"></div>
    </div>
  </form>
</div>
<div md-dialog-actions layout="row" layout-align="center center">
  <div layout="row" *ngIf="notPaying; else payingLoader">
    <button md-raised-button type="submit" id="submit-btn" [class.disabled]="!form.valid"
            (click)="handlePayment()">
      {{ 'CTA.PAY' | translate}}
    </button>
    <button md-button [md-dialog-close] class="ml-3">{{ 'CTA.CANCEL' | translate}}
    </button>
  </div>
  <ng-template #payingLoader layout="row" layout-align="center center">
    <div class="spinner"></div>
  </ng-template>
</div>
