<h1 md-dialog-title>{{ 'SIGNUP.CONFIRMORDER' | translate}}</h1>
<div md-dialog-content>
  <form #form="ngForm" id="form">
    <div class="form-group">
      <label for="firstName">{{ 'SIGNUP.FN' | translate}}</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
             [(ngModel)]="firstName" required name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">{{ 'SIGNUP.LN' | translate}}</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
             [(ngModel)]="lastName" required name="lastName">
    </div>
    <div class="form-group">
      <label for="phone">{{ 'SIGNUP.PHONE' | translate}}</label>
      <input type="text" class="form-control" id="phone" aria-describedby="phone"
             placeholder="+ ..." [(ngModel)]="phone" required name="phone">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="email"
             [(ngModel)]="email" required name="email">
    </div>
    <div class="form-inline mt-4">
      <input type="text" class="form-control mr-3" aria-describedby="helperI1"
             [(ngModel)]="HN1" name="helperI1" style="width: 40px">
      <input type="text" class="form-control" aria-describedby="helperI2"
             [(ngModel)]="HN2" name="helperI2" style="width: 40px">
    </div>
  </form>
</div>
<div md-dialog-actions layout="row" layout-align="center center">
  <button md-raised-button [md-dialog-close] class="mr-3">{{'CTA.CANCEL' | translate}}</button>
  <button md-raised-button [md-dialog-close] color="primary"
          (click)="confirm()" [disabled]="!form.valid">{{'CTA.CONFIRM' | translate}}
  </button>
</div>

