<div layout="row" layout-align="start">
  <ul id="parfumBrands">
    <li *ngFor="let brand of brands" (click)="filterParfums(brand)">{{brand}}</li>
  </ul>
  <div layout="row" layout-wrap layout-align="start start">
    <div *ngFor="let parfum of allParfums">
      <md-card class="product-card" *ngIf="!hasNoUpdatedUrl(parfum.image)">
        <md-card-header>
          <md-card-title class="title">{{parfum.brand}}</md-card-title>
          <md-card-subtitle class="desc">{{parfum.name}}</md-card-subtitle>
        </md-card-header>
        <div class="img-holder">
          <img md-card-image src="assets/{{parfum.image}}">
        </div>
        <md-card-content>
          <p class="price">
            {{parfum.price}}
          </p>
        </md-card-content>
        <div layout="column" layout-align="center center" class="action-center">
          <button md-button class="cart-btn" (click)="getDetails(parfum)">Add To Cart</button>
          <button md-button class="store-btn" (click)="getDetails(parfum)">Book in Store</button>
        </div>
      </md-card>
    </div>
  </div>

</div>


