.img-holder{
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.cart-btn{
  background-color: #333 !important;
  color: white !important;
  border: solid 2px #333;
  margin-bottom: 10px;
}
.cart-btn:hover{
  background-color: #DC6695 !important;
  color: white !important;
  border: solid 2px #DC6695 !important;
}
.store-btn{
  background-color: white;
  color: #DC6695;
  border: solid 2px #DC6695;
  margin-bottom: 10px;
}

.store-btn:hover{
  background-color: #333;
  color: white;
  border: solid 2px #333;
}
.product-card{
  width: 320px;
  height: 360px !important;
}

.title{
  font-weight: 700;
}
.desc{
  color: #999;
}

.action-center{
  position: absolute;
  bottom: 10px;
}
#parfumBrands{
  list-style-type: none;
  margin-top: 5px;
  margin-right: 2em;
}
#parfumBrands li{
  margin-bottom: 1em;
  cursor: pointer;
}
